.input-control {
    min-width: 200px;
}

:global(.button).search-button {
    background: #A3CD39;
    border: none;
}

:global(.icon).search-icon {
    color: white;
}

:global(.field:not(:last-child)).year-switch {
    margin-bottom: 0;
}

.year {
    display: flex;
    align-items: center;
}

.year > * {
    margin-right: 1rem;
}

.field-container {
    display: flex;
}

.field-1 {
    display: flex;
}

.field-2 {
    display: flex;
}


@media screen and (max-width: 800px) {
    .field-container {
        display: flex;
        flex-direction: column;
    }

    .year {
        flex-direction: column;
        align-items: flex-start;
    }

    .year > * {
        margin-top: 1rem;
    }

}

